*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    height:100vh;
    background:#0b1120;
}

/* WRAPPER */

.auth-wrapper{
    display:flex;
    height:100vh;
}

/* LEFT PANEL */

.auth-left{
    flex:1;

    background:linear-gradient(
        135deg,
        #4f7cff,
        #7c3aed
    );

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding:80px;
}

.auth-left h1{
    font-size:52px;
    margin-bottom:20px;
}

.auth-left p{
    font-size:22px;
    opacity:0.9;
}

.auth-left span{
    margin-top:10px;
    opacity:0.7;
}

/* RIGHT PANEL */

.auth-right{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#0b1120;
}

/* CARD */

.auth-card{
    width:380px;

    padding:40px;

    border-radius:24px;

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(20px);

    color:white;
}

.auth-card h2{
    font-size:28px;
}

.auth-card p{
    margin-bottom:25px;
    color:#94a3b8;
}

/* INPUT */

.auth-card input{
    width:100%;

    padding:14px;

    margin-bottom:15px;

    border-radius:14px;

    border:1px solid rgba(255,255,255,0.1);

    background:#111827;

    color:white;
}

/* BUTTON */

.auth-card button{
    width:100%;

    padding:14px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    background:linear-gradient(
        135deg,
        #4f7cff,
        #7c3aed
    );

    color:white;

    font-weight:bold;

    margin-top:10px;
}

/* SWITCH */

.switch{
    margin-top:20px;
    font-size:14px;
    text-align:center;
}

.switch a{
    color:#4f7cff;
    text-decoration:none;
}

/* RESPONSIVE */

@media(max-width:900px){

    .auth-wrapper{
        flex-direction:column;
    }

    .auth-left{
        display:none;
    }

    .auth-right{
        flex:1;
    }
}